
<ul>
  <li>Module : <%=h git_rev.repo %></li>
  <li>Branch : <%=h git_rev.ref %></li>
  <li>Commit : <%=h git_rev.sha1 %></li>
  <li>Author : <%=h git_rev.author[:name] %> <%=h git_rev.author[:email] %></li>
  <li>Date : <%=h Time.at(git_rev.author[:date].to_i).getlocal %></li>
</ul>

<p><%=textilize git_rev.log %></p>

<p>---</p>

<pre><%=h git_rev.diff_stat %></pre>

<div style="font-size:13px;background-color:#f1f1f3;color: #112;">
  <%= git_rev.diff_format_coloring %>
</div>
